<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549127138761-jsg6qv1poelip0rh2bunbt51r80tlput.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549127138761-jsg6qv1poelip0rh2bunbt51r80tlput</string>
	<key>API_KEY</key>
	<string>AIzaSyC6tEIMKrAEqoZFIbss70hPt6XVbbftphs</string>
	<key>GCM_SENDER_ID</key>
	<string>549127138761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ignacio.quizFlow</string>
	<key>PROJECT_ID</key>
	<string>quizflow-788a0</string>
	<key>STORAGE_BUCKET</key>
	<string>quizflow-788a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549127138761:ios:18011397546575947f4c18</string>
</dict>
</plist>